<!DOCTYPE html>
<html>
<head>
    <title>Sequência de Mídias</title>
    <style>
        body {
            overflow: hidden;
        }
        video {
            {#border-style: solid;#}
            {#border: 2px solid red;#}
            position: fixed;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
{#    <h1>SERVIDOR DE MIDIA</h1>#}
{#    <video data-index="0" src="{{ url_for('video_file', filename=video_file) }}" autoplay muted loop></video>#}
{#    <video data-index="0" src="{{ file }}" autoplay muted loop></video>#}
    <video id="video-player" data-index="{{ file_index }}" src="{{ url_for('static', filename=file) }}" autoplay muted></video>
</body>

<script>
    function get_url() {
        fetch('{{ url_for('next_file') }}')
          .then(response => response.json())
          .then(data => console.log(data));
    }

    document.querySelector("#video-player")
        .addEventListener('ended', () => {
            window.location.href = "{{ url_for('video', file_index=file_index + 1) }}"
        });

    function call_url() {

    }
</script>
</html>
